@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    text-align: center;
}

#root {
    margin-top: 200px;
}
